@mixin btn($background-color, $border-color) {
  button {
    border: solid 2px $border-color;
    background-color: $background-color;
    font-size: 1.2rem;
    color: $border-color;
    transition: .2s;

    &.chosen {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: -6px;
        right: -6px;
        width: 12px;
        height: 12px;
        background-color: $border-color;
        transition: .2s;
      }
    }

    &:focus {
      box-shadow: none;
    }
  }
}

@mixin titles-color($color) {
  h1 + h2 + h3 + h4 + h5{
    color: $color !important;
  }
}

@mixin titles-size($size) {
  h1 {
    font-size: $size * 1.8 !important;
  }

  h2 {
    font-size: $size * 1.6 !important;
  }

  h3 {
    font-size: $size * 1.4 !important;
  }

  h4 {
    font-size: $size * 1.2 !important;
  }

  h5 {
    font-size: $size !important;
  }
}
