@mixin btn($background-color, $border-color) {
    button {
        border: solid 2px $border-color;
        background-color: $background-color;
        font-size: 1.2rem;
        color: $border-color;
        transition: 0.2s;

        &.chosen {
            position: relative;

            &::before {
                content: '';
                position: absolute;
                top: -6px;
                right: -6px;
                width: 12px;
                height: 12px;
                background-color: $border-color;
                transition: 0.2s;
            }
        }

        &:focus {
            box-shadow: none;
        }
    }
}

@mixin checkbox($primary-color, $second-color) {
    .custom-checkbox {
        &--icon {
            fill: $primary-color;
            stroke: $primary-color;
        }

        &--input {
            background-color: $second-color;
            border: 2px solid $primary-color;
        }
    }
}

@mixin icon-color($color) {
    .icon {
        fill: $color;
    }
}

@mixin entry-text($text-size) {
    .entry-content {
        font-size: $text-size;
    }
}

@mixin linkHover($primary-color, $secondary-color) {
    h3 {
        display: inherit;
        &:hover {
            background-color: $secondary-color;
            color: $primary-color;
            transition: all 0.2s;
        }
    }
}

@mixin titles-color($color) {
    h1 + h2 + h3 + h4 + h5 {
        color: $color !important;
    }
}

@mixin titles-size($size) {
    h1 {
        font-size: $size * 1.9 !important;
    }

    h2 {
        font-size: $size * 1.8 !important;
    }

    h3 {
        font-size: $size * 1.5 !important;
    }

    h4 {
        font-size: $size * 1.2 !important;
    }

    h5 {
        font-size: $size !important;
    }
}

@mixin document-hover($primary-color, $secondary-color) {
    .document-item {
        &:hover {
            background-color: $secondary-color;
            color: $primary-color;
            transition: all 0.2s;
        }
    }
}

@mixin document-text-size($text-size) {
    .document-item {
        font-size: $text-size;
    }
}
